# eclipse projects
.pydevproject
.cproject
.project
.settings/

# gradle / android studio
.gradle
.idea
*.iml
local.gradle.properties

# ant locol properties
local.properties

# backup files
*~
*.swp

# python files
*.pyc
*.pyo

# compiled files
*.o
*.d
*.so
*.a
*.lo
*.la
.libs/
.deps/

libpomp.pc
tools/pomp-cli
examples/pomp-ping
examples/pomp-ping-cpp

# vscode settings
.vscode/
# autotools generated struff
build-aux/
m4/
configure
config.h.in
aclocal.m4
config.log
config.h
config.status
Makefile
Makefile.in
libtool
stamp-h1
INSTALL

bin
build

deb/opt/
deb/usr
deb/*.deb
